{% extends "base.twig" %}
{% block title %} {{ board.getBoardTitle(board_id) }} {% endblock %}

{% block main %}
    {{ board.checkForBoard(board_id) }}
    <div class="article">
        <div class="d-flex justify-content-between">
            <span>
                <h4>{{ board.getBoardDesc(board_id) }}</h4>
            </span>
            <span class="float-right">
            {% if board.checkBoardLocked(board_id) %}
                <i class="typcn typcn-lock-closed icon h3"></i>
            {% else %}
                <a href="?new_topic={{ board_id }}" class="btn btn-primary mb-1">New Topic</a>
            {% endif %}
            </span>
        </div>
        <div class="small">
            <span class="float-left">
                <a href="https://zeniea.com">Zeniea</a> :: 
                <a href="https://zeniea.com/forum/">Forum</a> :: 
                {{ board.getBoardTitle(board_id) }}
            </span>
            <span class="float-right"><a href="#">Mark All As Read</a></span>
        </div>
    </div>

    <div class="card w-100">
    <h5 class="card-header">Topics</h5>
        {% if board.getTopicsByCategory(board_id) %}
            <div class="card-body">
            {# {% set count = board.getTopicsByCategory(board_id) %} #}
            {# {% for i in count..1|reverse  %} #}
            {% for key, i in board.getPostsByCategory(board_id)|reverse %}
            {% set username = board.getTopicOP(i) %}
                <img src="{{ board.getAddedByAvatar(username) }}" class="avatar w-auto">
                <h5><a href="https://zeniea.com/forum/?topic={{i}}">{{ board.getTopicTitle(i) }}</a></h5>
                    <div>                    
                        <small> Posted by 
                        <a href="https://zeniea.com/{{board.getTopicOP(i)}}">
                            {{ board.getTopicOP(i) }}
                        </a>
                        </small>
                    </div>
                {{ board.getTopicBody(i) }}
                <div class="float-right">{{ board.getTopicDate(i) }}</div>
                <hr>
            {% endfor %}
            </div>
        {% else %}
            <div class="card-body">
                <h5>None</h5>
            </div>
        {% endif %}
    </div>
    
    <div class="article d-flex justify-content-between">
        <span class="small float-right"><a href="#">Prev Page</a></span>
        Page 1 of 1
        <span class="small float-right"><a href="#">Next Page</a></span>
    </div>
{% endblock %}

{% block side %}
<div class="titleBar"> </div>

{% endblock %}
