{% extends "base.twig" %}
{% block title %}Store{% endblock %}

{% block main %}
    {% if buy_id != 0 and confirm == 0 %}
        <div class="article">
            Confirm Purchase of {{ inventory.getItemName(buy_id) }} for {{ inventory.getItemCost(i_id) }}?
            <a href='?store&buy={{buy_id}}&confirm=1'><button type='button' class='btn btn-primary'>Confirm</button></a>
        </div>
    {% elseif confirm == 1 %}
        {{ inventory.buyItem(buy_id) }}
        Redirecting to store hub. 
            <script>
            var timer = setTimeout(function() {
                window.location='https://zeniea.com/?store'
            }, 3000);
            </script>
    {% else %}
        
    {% endif %}

    {% if i_id == 0 %}

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#general" aria-controls="general" data-toggle="tab" aria-selected="true">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#weapons" aria-controls="weapons" data-toggle="tab" aria-selected="true">Weapons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#armor" aria-controls="armor" data-toggle="tab" aria-selected="true">Armor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#magic" aria-controls="magic" data-toggle="tab" aria-selected="true">Magic</a>
      </li>
    </ul>


    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="general" aria-labelledby="general">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Owned</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
             {{ inventory.listItems('1') }}
            </tbody>
          </table>
        </div>
  <div role="tabpanel" class="tab-pane fade" id="weapons" aria-labelledby="weapons">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Owned</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{ inventory.listItems('2') }}
        </tbody>
      </table>

  </div>
  <div role="tabpanel" class="tab-pane fade" id="armor" aria-labelledby="armor">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Owned</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{ inventory.listItems('3') }}
        </tbody>
      </table>

  </div>
  <div role="tabpanel" class="tab-pane fade" id="magic" aria-labelledby="magic">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Owned</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{ inventory.listItems('4') }}
        </tbody>
      </table>

  </div>
  </div>

    {% else %}
        <div class="article">
            <a href='?store'><button type='button' class='btn btn-secondary'>Return</button></a><br><br>
            {{ inventory.getItemInfo(i_id) }}
        </div>  
    {% endif %}

 {% endblock %}

 {% block side %}
    <strong>Economics</strong>
    <hr class="m-0" >
     {{ character.getAllCharacterMoney() }}
     Total Stores Value: {{ inventory.getInventoryValue() }} <br />
 {% endblock %}
