{% extends "above/above_base.twig" %}
{% block title %} Above {% endblock %}

{% block main %}

    <div class="article">
        <h2>Dashboard</h2>
        <p> <strong>Welcome, {{ userLoggedIn }}</strong>! This is the region above Zeniea where administrative privileges are allowed to reign free.
            Now remember, with great power comes great responsibility. In this region, only using features that are labeled as stable is recommended
            for survival of the website. </p>   

        <div class="tabbed">
            <p>
                {{ user.getNumActiveUsers }} active users. <br />
                {{ board.getNumBoards }} active boards. <br />
                {{ quest.getNumQuests}} active quests. <br />
                {{ inventory.getNumitems }} items for sale. 
            </p>
        </div>
    </div>

{% endblock %}

{% block profile %}

    <div class="titleBar">Above Tools</div>
    
    <div class="article">
        <strong>Main</strong>
        <div class="tabbed">
            - <a href="https://zeniea.com/above/">Dashboard Home</a> <br />
            - <a href="https://zeniea.com/above/img/">Image Uploader</a>
        </div>
        <strong>Posts</strong>
        <div class="tabbed">
            - <a href="/above/?newpost">News Update</a>  <br />
            - <a href="https://zeniea.com/above/?twitterpost">Twitter Post</a>
        </div>
        <strong>Users</strong>
        <div class="tabbed">
            - <a href="/above/">Create Bot</a>  <br />
            - <a href="/above/">Manage Users</a>  <br />
        </div>
        <strong>Quests</strong>
        <div class="tabbed">
            - <a href="/above/?newpage">New Page</a>  <br />
            - <a href="/above/?viewpages">View Pages</a> <br />
            - <a href="/above/?newcategory">New Category</a>  <br />
            - <a href="/above/?viewcategories">View Categories</a> 

        </div>
        <strong>Economy</strong>
        <div class="tabbed">
            - <a href="/above/?newitem">New Item</a>  <br />
            - <a href="/above/?viewitems">View Store Inventory</a>  <br />
            - <a href="/above/?money">Manage Money Supply</a>  <br />
        </div>
        <strong>Forum</strong>
        <div class="tabbed">
            - <a href="/above/">New Board</a>  <br />
            - <a href="/above/">Manage Posts</a>  <br />
        </div>
        

    </div>

{% endblock %}

{% block side %}

    <div class="titleBar"></div>

{% endblock %}
