{% extends "above/above.twig" %}
{% block title %} Quests {% endblock %}

{% block main %}

    <div class="article">
        <h2>View Pages</h2>
            <small>Deleting any ID lower than the max (latest) does not auto adjust ID (yet!)</small>
            <select name="quest-category" class="form-control" id="dynamic_select">
            <option>Select Quest</option>
            {% for key, i in 1..quest.getNumQuests %}
                    {% set num = quest.getNumQuestPagesByCategory(i) %}
                    <option value="?viewpages&q={{i}}">{{ quest.getQuestCategoryTitle(i) }}</option>
            {% endfor %}
            </select><br />
            
        <div class="view_page_container">
        {% if q_id != 0 %}
            {# {% for i in 1..quest.getNumQuestpages %} #}
            {% for p_id in 0..quest.getNumQuestPagesByCategory(q_id) %}
                <div class="view_page_elements">
                    <div class="view_page_column" style="width: 50px;"><h4>{{ p_id }}</h4></div>
                    <div class="view_page_column"><img src="https://zeniea.com/img/quests/pages/{{ quest.getQuestPageMediaByCategory(q_id, p_id) }}" class="avatar"></div>
                    
                    <div class="view_page_column w-75">
                        <h5>{{ quest.getQuestPageTitleByCategory(q_id, p_id) }}</h5>
                        <br />{{ quest.getQuestPageDateByCategory(q_id, p_id) }} 
                            by {{ quest.getQuestPageAuthorByCategory(q_id, p_id) }}
                        <br />{{ quest.getQuestPageCategoryTitle(q_id) }}
                    </div>
                    <div class="view_page_column w-100">
                        <p>{{ quest.getQuestPageBodyPreviewByCategory(q_id, p_id) }}</p>
                        <br />
                    </div>   
                    <div class="view_page_column">   
                        <a href="https://zeniea.com/above/?editpage&q={{q_id}}&p={{p_id}}" class="btn btn-success mb-1">Edit</a>
                        <a href="https://zeniea.com/above/?delete&q={{q_id}}&p={{p_id}}" class="btn btn-danger mb-1">Delete</a>
                    </div>
                </div>
            {% endfor %} 
        {% endif %}
        </div> 
    </div>

{% endblock %}
