<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  	<title>Zeniea</title>

    <meta charset="UTF-8">
    <meta name="author" content="Justin Scofield">
    <meta name="keywords" content="Zeniea,ZEN3MP,HTML,CSS,XML,JavaScript,PHP,MySQL,jQuery,Bootstrap,RPG,Quest,Fight,Trade,Talk,Social,Network">
    <meta name="description" content="A modern role-playing quest game built into a social network! Uses HTML5, PHP, and Javascript to create a dynamic user experience. Currently in development and accepting registrants.">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">

    <!-- Zeniea Stylesheets -->
    {% if login_flag > 0 %}
      <link rel="stylesheet" type="text/css" href="https://zeniea.com/lib/css/themes/{{ style }}.css" />
    {% else %}
      <link rel="stylesheet" type="text/css" href="https://zeniea.com/lib/css/themes/purpleStyle.css" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="https://zeniea.com/lib/css/zen3mp.css" />

    <!-- Zootstrap -->
    <link rel="stylesheet" type="text/css" href="https://zeniea.com/lib/css/bootstrap.css" />

    <!-- Icon Sets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="https://zeniea.com/lib/css/src/font/typicons.css" />

    <!-- Google Garbage -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Bootstrap/box Javascript -->
    <script src="https://zeniea.com/lib/js/bootstrap.js"></script>
    <script src="https://zeniea.com/lib/js/bootbox.js"></script>

    <!-- Zeniea Javascript -->
    <script src="https://zeniea.com/lib/js/zen3mp.js"></script>
    <script src="https://zeniea.com/lib/js/register.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27378985-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-27378985-1');
    </script>

</head>
<body>

  <div id="navBox" class="boxes">

      <a href="/" title="Home"><i class="typcn typcn-home icon btnPurp"></i></a>
      {% if login_flag > 0 %}
        <a href="/?world" title ="World"><i class="typcn typcn-world icon btnPurp"></i></a>
        <a href="/?store" title ="Item Store"><i class="typcn typcn-shopping-bag icon btnPurp"></i></a>
      {% else %}
      {% endif %}
      <a href="/?users" title ="Users"><i class="typcn typcn-group icon btnPurp"></i></a>
      <a href="/?news" title ="News"><i class="typcn typcn-news icon btnPurp"></i></a>

      <div class="search-container search">
          <form action="search.php" method="GET" class="search-box-align" name="search_form">
            <input type="text" onkeyup="getLiveSearchUsers(this.value, '{{ userLoggedIn }}')" name="q" placeholder="Search..." style="color: #E3DFFF;" autocomplete="off" id="search_text_input">
              <div class="search-btn search-btn-default button_holder">
                <i class="fa fa-search icon btnPurp"></i>
              </div>
          </form>
        <div class="search_results">
        <div class="search_results_footer_empty"></div></div>
        
      </div>

      <div class="profile-options">
        {% if login_flag > 0 %}
            {{ user.aboveButton }}
            <a href="/{{ userLoggedIn }}" title="Profile"><i class="typcn typcn-user icon btnPurp"></i></a>
                  {% if user.getNumberOfFriendRequests > 0 %}
                    <a href="requests.php"><span class="badge badge-notification" id="unread_requests">
                    {{ user.getNumberOfFriendRequests }}
                    </span></a>
                  {% endif %}
            <a href="/?inbox" title="Inbox"><i class="typcn typcn-mail icon btnPurp"></i></a>
            <a href="javascript:void(0);" onclick="getDropdownData('{{ userLoggedIn }}', 'message')" title="Messages"><i class="typcn typcn-messages icon btnPurp"></i></a>
                  {% if messages.getUnreadNumber > 0 %}
                  <span class="badge badge-notification" id="unread_messages">
                    {{ messages.getUnreadNumber }}
                    </span>
                  {% endif %}
            <a href="javascript:void(0);" onclick="getDropdownData('{{ userLoggedIn }}', 'notification')" title="Notifications"><i class="typcn typcn-bell icon btnPurp"></i>
            {% if notifications.getUnreadNumber > 0 %}
              <span class="badge badge-notification" id="unread_notifications">
                {{ notifications.getUnreadNumber }}
                </span>
            {% endif %}
        </a><a href="/?logout&s={{ session_id }}" title="Logout"><span class="typcn typcn-eject icon btnPurp"></span></a>
        {% else %}

        {% endif %}

      </div>

      <div class="dropdown_data_window" style="height:0px; border:none;"></div>
      <input type="hidden" id="dropdown_data_type" value="">
    </div>

    {% block javascript %}
    <script>
      $('#customFile').on('change',function(){
          //get the file name
          var fileName = $(this).val();
          //replace the "Choose a file" label
          $(this).next('.custom-file-label').html(fileName);
      })
      function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
      }

      var userLoggedIn = '{{ userLoggedIn }}';

      $(document).ready(function() {

        $('.dropdown_data_window').scroll(function() {
          var inner_height = $('.dropdown_data_window').innerHeight(); //Div containing posts
          var scroll_top = $('.dropdown_data_window').scrollTop();
          var page = $('.dropdown_data_window').find('.nextPageDropDownData').val();
          var noMoreData = $('.dropdown_data_window').find('.noMoreDropDownData').val();

          if ((scroll_top + inner_height >= $('.dropdown_data_window')[0].scrollHeight) && noMoreData == 'false') {

            var pageName; //holds name of page to send ajax request to
            var type = $('#dropdown_data_type').val();

            if(type ==  'notification')
                pageName = "ajax_load_notifications.php";
            else if (type == 'message')
                pageName = "ajax_load_messages.php";

            var ajaxReq = $.ajax({
              url: "https://zeniea.com/src/forms/" + pageName,
              type: "POST",
              data: "page=" + page + "&userLoggedIn=" + userLoggedIn,
              cache:false,
              async:false,

              success: function(response) {
                $('.dropdown_data_window').find('.nextPageDropDownData').remove(); //Removes current .nextpage
                $('.dropdown_data_window').find('.noMoreDropDownData').remove(); //Removes current .nextpage

                $('.dropdown_data_window').append(response);
              }
            });

          } //End if

          return false;

        }); //End (window).scroll(function())


      });

      </script>
{% endblock %}
