{% extends "login_base.twig" %}
{% block title %}Zeniea{% endblock %}

{% block profile %}
<div class="titleBar">Statistics</div>
    <div class="article">

        Total Posts: {{ posts.getNumPosts }}<br>
        Active Users: {{ user.getNumActiveUsers }}<br>
        Newest User: <a href="https://zeniea.com/{{user.getNewestUserNM}}">{{ user.getNewestUserDN }}</a><br>
        <span class="small hilit">
            (Note: This website is in active development! Report any bugs to the administrator)
        </span>
    </div>
{% endblock %}

{% block main %}

    <div class='titleBar'>Login</div>
    <div id='first'>

    <!-- Login Form -->
    <form class="px-4 py-3" action="" method="POST">
        <div class='form-group'>
            <input type='email' name="login_email" class='form-control' placeholder="Email Address" value='' required>
        </div>
        <div class='form-group'>
            <input type='password' name="login_password" class='form-control' placeholder='Password'>
        </div>
        {% if "IncorrectCredentials" in error_array %}
            Email or password was incorrect<br>
        {% endif %}
        {% if "UserNotExist" in error_array %}
            This username does not exist<br>
        {% endif %}
        {% if "UserNotVerified" in error_array %}
            Your account has not been verified!<br>
            <input class='btn btn-primary' type='submit' name='resend' Value='Resend Verification Email'><br>
        {% endif %}
        <div class='form-check'>
            <input type='checkbox' name="remember" class='form-check-input' id='dropdownCheck'>
            <label class='form-check-label' for='dropdownCheck'>
                Remember me
            </label>
        </div>
        <button type='submit' name="login_button" class='btn btn-primary' value="Login">Sign in</button>

    </form>
    <div class='dropdown-divider'></div>
    <a class='dropdown-item' href='#' id='signup' class='signup'>Need an account? Sign up.</a>
    <a class='dropdown-item' href='#'>Forgot password? <span class="hilit">Sorry, broken :)</span></a>
    </div>

    <!-- Register Form -->
    <div id='second'>
    <form class="px-4 py-3" action="" method="POST">
        <div class='form-group'>
            <input type='username' name="reg_uname" class='form-control' id='register_username' placeholder="Username" value="{% if session.reg_uname %}{{ session.reg_uname }}{% endif %}" required>
        </div>

        {% if "UsernameLength" in error_array %}
            Your username must be between 2 and 25 characters<br>
        {% endif %}

        <div class='form-group'>
            <input type='email' name="reg_email" class='form-control' id='exampleDropdownFormEmail1' placeholder="Email" value="
            {% if session.reg_email %} {{ session.reg_email }} {% endif %}" required>
        </div>
        <div class='form-group'>
            <input type='email' name="reg_email2" class='form-control' id='exampleDropdownFormEmail2' placeholder="Confirm Email" value="
            {% if session.reg_email2 %} {{ session.reg_email2 }} {% endif %}" required>
        </div>

        {% if "EmailTaken" in error_array %}
            Email already in use<br>
        {% endif %}
        {% if "InvalidEmail" in error_array %}
            Invalid email format<br>
        {% endif %}
        {% if "EmailMismatch" in error_array %}
            Emails don't match<br>
        {% endif %}

        <div class='form-group'>
            <input type='password' name="reg_password" class='form-control' id='exampleDropdownFormPassword1' placeholder='Password' required>
        </div>
        <div class='form-group'>
            <input type='password' name="reg_password2" class='form-control' id='exampleDropdownFormPassword2' placeholder='Confirm Password' required>
        </div>

        {% if "PasswordMismatch" in error_array %}
            Your passwords do not match<br>
        {% endif %}
        {% if "InvalidPasswordCharacters" in error_array %}
            Your password can only contain english characters or numbers<br>
        {% endif %}
        {% if "PasswordLength" in error_array %}
            Your password must be betwen 5 and 30 characters<br>
        {% endif %}

        <div class='g-recaptcha' data-sitekey='6LdNwpoUAAAAANq-7GkziNyXo5hVqO1bNeqWXaHF'></div>
        <br />
        <button type="submit" name="register_button" class='btn btn-primary'>Register</button>

        {% if "EmailSent" in error_array %}
            <br><span style='color: #14C800;'>You're all set! Wait for the email to complete the registration process. </span><br>
        {% endif %}
        </form>

        <div class='dropdown-divider'></div>
        <a class='dropdown-item' href='#' id='signin' class='signin'>Already have an account? Sign in here!</a>


</div>
{% endblock %}
