{% extends "base.twig" %}
{% block title %} {% endblock %}

{% block main %}

    {% if q_id == 0 %}
    <div class="card">
      <h5 class="card-header">Main Quests</h5>
        <div class="card-body">
          {{ quest.listQuests(1) }}
        </div>
      <h5 class="card-header">Wild Areas</h5>
        <div class="card-body">
          {{ quest.listQuests(2) }}
        </div>
    </div>
    {% else %}
        {% if p_id != 0 %}
            {{ quest.loadPage(p_id) }}
        {% elseif p_id == 0 %}
            {{ quest.showQuestHome(q_id) }}
        {% endif %}
    {% endif %}


{% endblock %}

{% block profile %}
<div class="titleBar">Character</div>
    <div class="article">
        {{ character.getCharacterName }} <br />
        Level: {{ character.getCharacterLevel }} <br />
        Class: {{ character.getCharacterClass }} <br />
        Race: {{ character.getCharacterRace }} <br />
            {{ character.dispCharacterStats }}
            {{ character.listCharacterAttributes }}
    </div>

{% endblock %}

{% block side %}
    {% if q_id == 0 %}
    <div class="titleBar">Activity</div>
        <div class="article">
          <p>Active Quests: 0</p>
          <p>Players Online: N/A</p>
        </div>
    {% else %}
    <div class="titleBar">Location</div>
        <div class="article">
            <br />
        </div>
    {% endif %}
{% endblock %}
